* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Roboto Mono', monospace;
    --text-color: #CDD0D6;
    --backgroud-color: #000000;
}

body {
    font-size: 1.6rem;
    font-family: var(--ff-primary);
    background-color: var(--backgroud-color);
    color: var(--text-color);
}

#app {
    max-width: 100.0rem;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 8rem;
}

header {
    padding: 3.0rem 0;
    text-align: center;
}

header h1 {
    padding-bottom: 1.5rem;
    font-size: 4.5rem;
}

header p {
    font-size: 2rem;
    padding-bottom: 1.2rem;
}

tbody {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10.5rem;
    grid-row-gap: 4.5rem;
}

tr {
    display: grid;
    text-align: center;
    gap: 0.2rem;
}

.movieSelected {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;

}

a {
    display: grid;
    margin-top: 1.0rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: #b5b5b5;
}

tr img {
    height: 15rem;
}

.pages h1{
    color: red;
}

iconify-icon{
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    margin-top: 1.2rem;
    padding-bottom: auto;
}